<style>
        body {
          background-image: url("https://th.bing.com/th/id/OIP.PGQW2dVD1MRRC7XwWswyNAHaEn?w=276&h=180&c=7&r=0&o=5&pid=1.7);
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
        }
        </style>